<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>小学算数运算</title>
</head>
<body>
<h1>小学算数运算</h1>
 
   
   <form action="/home1" method="post">
	<p style="display:inline-block;" th:text="${cr.a}" />
 	<p style="display:inline-block;" th:text="${cr.c}"   />
 	<p style="display:inline-block;" th:text="${cr.b}" ></p>
  	
  	
  
    <input type="hidden" name="ans"  th:value="${cr.d}">	
    <input type="text" name="a">	
    <input type="submit" value="Submit">		
  
   </form>
    

    
</body>
</html>